<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ak.inzynierka">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.OgloszeniaLista"
            android:label="@string/title_activity_ogloszenia" />
        <activity
            android:name=".core.Pralnia"
            android:label="@string/title_activity_pralnia" />
        <activity
            android:name=".core.ListaSalek"
            android:label="@string/title_activity_lista_salek" />
        <activity
            android:name=".core.Salka"
            android:label="@string/title_activity_salka" />
        <activity
            android:name=".core.OgloszenieEdycja"
            android:label="@string/title_activity_ogloszenie"></activity>
    </application>

</manifest>