<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ak.inzynierka">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OgloszeniaLista"
            android:label="@string/title_activity_ogloszenia" />
        <activity
            android:name=".Pralnia"
            android:label="@string/title_activity_pralnia" />
        <activity
            android:name=".Imprezy"
            android:label="@string/title_activity_imprezy" />
        <activity
            android:name=".Informacje"
            android:label="@string/title_activity_zakupy" />
        <activity
            android:name=".salki.ListaSalek"
            android:label="@string/title_activity_lista_salek" />
        <activity
            android:name=".salki.Salka"
            android:label="@string/title_activity_salka" />
        <activity
            android:name=".OgloszenieEdycja"
            android:label="@string/title_activity_ogloszenie"></activity>
    </application>

</manifest>